@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "normalize.css";

:root {
  --color--one: #fff;
  --color-two: #ee4d2d;
  --color-text: #000000;
  --color--bk: #f5f5f5ea;
  --color--bk2: #000;
}
body {
  transition: background 2s ease, color 2s ease;
}

/* Chế độ sáng (mặc định) */
body {
  background: white;
  color: black;
}

/* Chế độ tối */
body .dark-mode {
  background: black !important;
  color: white !important;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: black;
  background-color: var(--color--bk);
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.home {
  padding: 20px;
  text-align: center;
}
