.productPage{
    background-color: #fff;
    width: 90%;
    margin: 40px auto 60px auto;
    display: flex;
    justify-content: center;
    &__originalPhoto{
      margin-right: 5%;
      width: 20%;
      height: auto;
      transition: transform 0.3s ease-out;
      img{
        width: 100%;
        height: auto;
        object-fit: contain;
      }
      .zoom{
        transform: scale(2);
      }
    }
    &__title {
      flex: 1;
      .rate {
        display: flex;
        align-items: center;
        .buy{
          margin: 0px 16px 0px 16px;
        }
        
    }
    .price{
      margin-bottom: 15px;
      span:first-child{
        color: red;
        text-decoration: line-through;
        margin-right: 18px;
        font-weight: 600;
        font-size: 24px;
      } span:last-child{
        color: #000;
        margin-right: 18px;
        font-weight: 600;
        font-size: 24px;
      } 
    }
    .quantity{
      margin-bottom: 15px;
      span:first-child{
        margin-right: 18px;
      }
      input{
        width: 50px;
        height: auto;
      }
      span:last-child{
        margin-left: 18px;
      }
      button{
        width: 25px;        
      }
    }
  }
}
.productPage2{
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.ProductPageDetail{
  width: 90%;
  margin: 20px auto 60px auto;
  display: flex;
  justify-content: space-between;
  .description{
    width: 50%;
    height: auto;
    background-color: #fff;

    
  }
  .contact{ 
    flex: 1;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    .contact1{
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
      margin-bottom: 20px;
  
      h2{
        text-align: center;
      }
      .icon{
        font-size: 30px;
      }
    }
    .title{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      *{
        margin: 10px 30px 10px 30px;
      }
    }
    .contact2{
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
      text-align: center;
      input{
        width: 200px;
        margin-bottom: 20px;
      }
      button{
        background: #000;
        color: #fff;
      }
    }
  }
}